*.log
*.err
*.pyc
*.swp
.idea/*
**/__pycache__/*
**/output/*
data/.DS_Store
docs/build
results/*
build
dist
boards/*
*.egg-info/
checkpoint
*.pth
*.ckpt
*_cache
.cache
data
save
*.eggs
.eggs
eggs/
*.egg
.DS_Store
.vscode
.vscode/*
*.so
*-checkpoint.ipynb
!tests/data
