*.log
*.err
*.pyc
*.swp
.idea/*
**/__pycache__/*
data/.DS_Store
docs/build
results/*
build
dist
boards/*
*.egg_info/*
*.egg_info
checkpoint
*.pth
*.ckpt
pythia.egg_info
*_cache
.cache
data
save
.eggs
.DS_Store
