[tool.isort]
# This is required to make sorting same as fbcode as all absolute imports
# are considered third party there
known_third_party = [
    "PIL", "cv2", "demjson", "fairscale", "h5py", "lib", "lmdb", "maskrcnn_benchmark", "mmf",
    "numpy", "omegaconf", "packaging", "pycocoevalcap", "pytorch_sphinx_theme",
    "recommonmark", "requests", "setuptools", "sklearn", "termcolor", "tests", "torch",
    "torchtext", "torchvision", "tqdm", "transformers"
]
skip_glob = "**/build/**,website/**"
combine_as_imports = true
force_grid_wrap = false
include_trailing_comma = true
line_length = 88
multi_line_output = 3
use_parentheses = true
lines_after_imports = 2

[tool.black]
line-length = 88
exclude = '''
/(
    \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
  | website
)/
'''
