[tool.isort]
known_third_party = ["PIL", "cv2", "demjson", "h5py", "lib", "lmdb", "maskrcnn_benchmark", "numpy", "omegaconf", "packaging", "pycocoevalcap", "pytorch_sphinx_theme", "recommonmark", "requests", "setuptools", "sklearn", "termcolor", "torch", "torchtext", "torchvision", "tqdm", "transformers"]
skip_glob = "**/build/**,website/**"
multi_line_output = 3
line_length = 88
include_trailing_comma = true
use_parentheses = true
force_grid_wrap = 0

[tool.black]
line-length = 88
exclude = '''
/(
    \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
)/
'''
