torch==1.0.1.post2
torchvision==0.2.2
tensorboardX==1.2
numpy>=1.14
tqdm==4.19.9
demjson>=2.2
torchtext>=0.2
GitPython>=2.1
PyYAML>=3.11
pytest==5.2.0
requests==2.21.0
fastText
nltk==3.4.5
transformers>=2.0.0
block.bootstrap.pytorch==0.1.6
