dataset_config:
  masked_q_vqa2:
      data_root_dir: ../data
      image_depth_first: false
      fast_read: false
      image_features:
        train:
        - datasets/coco/features/lmdbs/coco_trainval2014.lmdb
        val:
        - datasets/coco/features/lmdbs/coco_trainval2014.lmdb
        test:
        - datasets/coco/features/lmdbs/coco_test2015.lmdb
      imdb_files:
        train:
        - datasets/vqa2/imdbs/imdb_train2014.npy
        val:
        - datasets/vqa2/imdbs/imdb_val2014.npy
        test:
        - datasets/vqa2/imdbs/imdb_test2015.npy
      features_max_len: 100
      processors:
        text_processor:
          type: vocab
          params:
            max_length: 14
            vocab:
              type: intersected
              embedding_name: glove.6B.300d
              vocab_file: vocabs/vocabulary_100k_with_mask.txt
            preprocessor:
              type: simple_sentence
              params: {}
        answer_processor:
          type: multi_hot_answer_from_vocab
          params:
            num_answers: 1
            vocab_file: vocabs/answers_vqa.txt
            preprocessor:
              type: simple_word
              params: {}
        context_processor:
          type: fasttext
          params:
            download_initially: false
            max_length: 50
            model_file: wiki.en.bin
        ocr_token_processor:
          type: simple_word
          params: {}
        bbox_processor:
          type: bbox
          params:
            max_length: 50
      return_info: true
      # Return OCR information
      use_ocr: false
      # Return spatial information of OCR tokens if present
      use_ocr_info: false
training:
    monitored_metric: masked_q_vqa2/accuracy
    metric_minimize: false
