dataset_config:
  masked_vqa2:
    data_root_dir: ../data
    image_depth_first: false
    fast_read: false
    image_features:
      train:
      - datasets/coco/features/lmdbs/coco_trainval2014.lmdb
      val:
      - datasets/coco/features/lmdbs/coco_trainval2014.lmdb
      test:
      - datasets/coco/features/lmdbs/coco_test2015.lmdb
    imdb_files:
      train:
      - datasets/vqa2/imdbs/imdb_train2014.npy
      val:
      - datasets/vqa2/imdbs/imdb_val2014.npy
      test:
      - datasets/vqa2/imdbs/imdb_test2015.npy
    features_max_len: 100
    use_image_feature_masks: false
    processors:
      masked_token_processor:
        type: masked_token
        params:
          tokenizer_config:
            type: bert-base-uncased
            params:
              do_lower_case: true
          mask_probability: 0.15
          max_seq_length: 128
    return_info: false
    # Return OCR information
    use_ocr: false
    # Return spatial information of OCR tokens if present
    use_ocr_info: false
