dataset_config:
  mmimdb:
      data_dir: ${env.data_dir}
      depth_first: false
      fast_read: false
      use_images: false
      use_features: true
      features:
        train:
        - datasets/mmimdb/features/features.lmdb
        val:
        - datasets/mmimdb/features/features.lmdb
        test:
        - datasets/mmimdb/features/features.lmdb
      annotations:
        train:
        - datasets/mmimdb/annotations/mmimdb/train.jsonl
        val:
        - datasets/mmimdb/annotations/mmimdb/dev.jsonl
        test:
        - datasets/mmimdb/annotations/mmimdb/test.jsonl
      max_features: 100
      processors:
        text_processor:
          type: vocab
          params:
            max_length: 70
            vocab:
              type: intersected
              embedding_name: glove.6B.300d
              vocab_file: datasets/mmimdb/extras/vocab_mmimdb.txt
            preprocessor:
              type: simple_sentence
              params: {}
        bbox_processor:
          type: bbox
          params:
            max_length: 50
        answer_processor:
          type: multi_hot_answer_from_vocab
          params:
              num_answers: 1
              vocab_file: datasets/mmimdb/extras/classes_mm_imdb.txt
              preprocessor:
                  type: simple_word
                  params: {}
      return_features_info: false
