{%- set external_urls = {
  'github': 'https://github.com/facebookresearch/mmf',
  'github_issues': 'https://github.com/facebookresearch/master/issues',
  'contributing': 'https://github.com/facebookresearch/master/blob/master/CONTRIBUTING.md',
  'docs': 'https://mmf.sh/docs/stable/index.html',
  'tutorials': 'https://mmf.sh/tutorials',
  'previous_pytorch_versions': 'https://mmf.sh/previous-versions/',
  'home': 'https://mmf.sh/',
  'get_started': 'https://mmf.sh/get-started',
  'features': 'https://mmf.sh/features',
  'brand_guidelines': 'https://pytorch.org/assets/brand-guidelines/PyTorch-Brand-Guidelines.pdf'
}
-%}
