dataset_config:
  vqa2:
    image_features:
      train:
      - coco/detectron_fix_100/fc6/train_val_2014,coco/resnet152/train_val_2014
      val:
      - coco/detectron_fix_100/fc6/train_val_2014,coco/resnet152/train_val_2014
      test:
      - coco/detectron_fix_100/fc6/test2015,coco/resnet152/test2015
    imdb_files:
      train:
      - imdb/vqa/imdb_train2014.npy
      val:
      - imdb/vqa/imdb_val2014.npy

optimizer:
  type: Adamax
  params:
    eps: 1.0e-08
    lr: 0.01
    weight_decay: 0

training:
  clip_norm_mode: all
  clip_gradients: true
  lr_ratio: 0.1
  lr_scheduler: true
  lr_steps:
  - 15000
  - 18000
  - 20000
  - 21000
  max_grad_l2_norm: 0.25
  max_updates: 22000
  use_warmup: true
  warmup_factor: 0.2
  warmup_iterations: 1000
  patience: 4000
  batch_size: 512
  num_workers: 7
  task_size_proportional_sampling: true
  monitored_metric: vqa2/vqa_accuracy
  metric_minimize: false
  pretrained_mapping:
    word_embedding: word_embedding
    text_embeddings: text_embeddings
    image_feature_encoders: image_feature_encoders
    image_feature_embeddings_list: image_feature_embeddings_list
    image_text_multi_modal_combine_layer: image_text_multi_modal_combine_layer
    classifier: classifier
